<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

   <settings>
        <setting name="jdbcTypeForNull" value="NULL" />
   </settings>

 <typeAliases>
 	<typeAlias type="com.kh.john.member.model.vo.Member" alias="member"/>
 	<typeAlias type="com.kh.john.board.model.vo.Board" alias="board"/>
 	<typeAlias type="com.kh.john.board.model.vo.BoardFile" alias="boardFile"/>
 	<typeAlias type="com.kh.john.admin.model.vo.Notice" alias="notice"/>
 	<typeAlias type="com.kh.john.admin.model.vo.NoticeFile" alias="noticeFile"/>
 	<typeAlias type="com.kh.john.board.model.vo.Comment" alias="comment"/>
 	<typeAlias type="com.kh.john.report.model.vo.Report" alias="report"/>
 	<typeAlias type="com.kh.john.report.model.vo.ReportFile" alias="reportFile"/>
 	<typeAlias type="com.kh.john.exboard.model.vo.ExpertRequest" alias="exrequest"/>
 	<typeAlias type="com.kh.john.exboard.model.vo.ExpertBoard" alias="exboard"/>
 	<typeAlias type="com.kh.john.member.model.vo.License" alias="license"/>
	<typeAlias type="com.kh.john.member.model.vo.Expert" alias="expert"/>
	<typeAlias type="com.kh.john.alarm.model.vo.Alarm" alias="alarm"/>
	<typeAlias type="com.kh.john.admin.model.vo.AdminChat" alias="adminChat"/>
	<typeAlias type="com.kh.john.member.model.vo.LikeDislike" alias="likeDislike"/>
 </typeAliases>
 




</configuration>
