<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="expert">

<select id="selectExpert" resultMap="memberMap">
	SELECT * FROM MEMBER WHERE MEM_CLASS LIKE '전문가' 
</select> 

<select id="selectExpertMem" resultMap="expertMap" parameterType="string">
	SELECT * FROM EXPERT_INFO WHERE EXPERT_USID = #{no}
</select>

<select id="selectMember" resultMap="memberMap" parameterType="string">
	SELECT * FROM MEMBER WHERE USID = #{no}
</select>

<select id="selectIsDuplicateReq" resultMap="exrequestMap" parameterType="map">
	SELECT * FROM EXPERT_REQUEST WHERE EXPERT_REQUEST_EX_USID = #{exusid} AND EXPERT_REQUEST_MEM_USID = #{memusid} AND EXPERT_ISCOUNSEL = 0
</select>

<insert id="insertExpertMemRequest" parameterType="map">
	INSERT INTO EXPERT_REQUEST VALUES(#{exusid},#{memusid},#{exnick},#{memnick},DEFAULT,DEFAULT,#{time},#{applyText})
</insert>

<delete id="deleteExpertMemRequest" parameterType="map">
	DELETE FROM EXPERT_REQUEST WHERE EXPERT_REQUEST_EX_USID = #{exusid} AND EXPERT_REQUEST_MEM_USID = #{memusid}
</delete>

<select id="selectExpertRequest" resultMap="exrequestMap" parameterType="member">
	SELECT * FROM EXPERT_REQUEST WHERE EXPERT_REQUEST_EX_USID = #{usid}
</select>

<insert id="insertExpertBoard" parameterType="exboard">
		INSERT INTO EXPERT_BOARD VALUES(SEQ_EXPERT_BOARD_NO.NEXTVAL,#{expertBoardUsid}, #{expertBoardMemUsid},NULL,default,NULL,default,#{expertBoardExNick},default,default,#{expertBoardMemNick})
	<selectKey keyProperty="expertBoardId" resultType="_int" order="AFTER">
		SELECT SEQ_EXPERT_BOARD_NO.CURRVAL FROM DUAL
	</selectKey>
</insert>

<select id="selectExpertBoard" resultMap="exboardMap" parameterType="member">
	SELECT * FROM EXPERT_BOARD WHERE EXPERT_BOARD_USID = #{usid}
</select>

<select id="selectExBoardNum" resultType="_int" parameterType="map">
	SELECT EXPERT_BOARD_ID FROM EXPERT_BOARD WHERE EXPERT_BOARD_USID = #{exusid} AND EXPERT_BOARD_MEM_USID = #{memusid} AND EXPERT_BOARD_MEMBEREND LIKE 0 AND EXPERT_BOARD_EXPERTEND LIKE 0
</select>

<!-- 이미 같은게 있어서 이름바꿈 ㅋㅋ; selectExpertBoard -->
<select id="selectExpertBoardbnum" resultMap="exboardMap" parameterType="string">
	SELECT * FROM EXPERT_BOARD WHERE EXPERT_BOARD_ID = #{bnum}
</select>

<update id="updateCounselResult" parameterType="map">
	UPDATE EXPERT_BOARD SET EXPERT_BOARD_ADVICE_RESULT =#{extext}, EXPERT_BOARD_EXPERTEND = 1 WHERE EXPERT_BOARD_ID=#{bno}
</update>

<select id="selectMemExboard" resultType="string" parameterType="map">
	SELECT EXPERT_BOARD_MEM_USID FROM EXPERT_BOARD WHERE EXPERT_BOARD_USID = #{expertusid} AND EXPERT_BOARD_ID = #{bno}
</select>

<select id="selectExpertExboard" resultType="string" parameterType="map">
	SELECT EXPERT_BOARD_USID FROM EXPERT_BOARD WHERE EXPERT_BOARD_MEM_USID = #{memusid} AND EXPERT_BOARD_ID = #{bno}
</select>

<select id="selectExBoardNumUsid" resultType="string" parameterType="map">
	SELECT EXPERT_BOARD_ID FROM EXPERT_BOARD WHERE EXPERT_BOARD_MEM_USID = #{musid} AND EXPERT_BOARD_USID = #{usid}  AND EXPERT_BOARD_MEMBEREND LIKE 0 AND EXPERT_BOARD_EXPERTEND LIKE 0
</select>

<update id="updateCounselMemberEnd" parameterType="string">
	UPDATE EXPERT_BOARD SET EXPERT_BOARD_MEMBEREND = 1 WHERE EXPERT_BOARD_ID=#{bno}
</update>

<select id="selectExpertLicense" resultMap="licenseMap" parameterType="string">
	SELECT * FROM LICENSE WHERE LICENSE_MEM_USID = #{exusid}
</select>

<select id="selectExboardListCategory" resultMap="exboardMap" parameterType="string">
	SELECT EX.* FROM (EXPERT_BOARD EX JOIN (SELECT * FROM EXPERT_INFO WHERE EXPERT_COUNSEL_AREA LIKE #{ca} ) ON (EXPERT_BOARD_USID = EXPERT_USID))WHERE EXPERT_BOARD_REVIEW IS NOT NULL
</select>

<update id="updateReuestCounselEnd" parameterType="map">
	UPDATE EXPERT_REQUEST SET EXPERT_ISCOUNSEL = 1 WHERE EXPERT_REQUEST_EX_USID=#{eusid} AND EXPERT_REQUEST_MEM_USID=#{musid}
</update>

<select id="selectExRequestList" resultMap	="exrequestMap" parameterType="member">
	SELECT * FROM EXPERT_REQUEST WHERE EXPERT_REQUEST_EX_USID = #{usid}
</select>

<select id="selectLicenseKind" resultType	="string" >
	SELECT * FROM LICENSE_KIND
</select>

<select id="selectCounselKind" resultType	="string" >
	SELECT * FROM COUNSEL_KIND
</select>

<select id="selectCompanyKind" resultType	="string" >
	SELECT * FROM COMPANY_KIND
</select>

<!--  -->
<update id="updateLicenseModify" parameterType="license">
	UPDATE LICENSE SET LICENSE_FILE_NAME = #{licenseFileName},LICENSE_DATE = #{licenseDate},LICENSE_TYPE = #{licenseType},LICENSE_COMPANY = #{licenseCompany} WHERE LICENSE_ID=#{licenseId}
</update>

<insert id="insertLicenseModify" parameterType="license">
	INSERT INTO LICENSE VALUES(SEQ_LICENSE_NO.NEXVAL,#{licenseMemUsid},#{licenseFileName},#{licenseDate},#{licenseType},#{licenseCompany})
</insert>

<update id="updateExInfoModify" parameterType="expert">
	UPDATE EXPERT_INFO SET EXPERT_GREETINGS = #{expertGreetings}, EXPERT_PROFILE = #{expertProfile},EXPERT_COUNSEL_AREA = #{expertCounselArea}, EXPERT_COUNSEL_START_TIME = #{expertCounselStartTime},EXPERT_COUNSEL_END_TIME = #{expertCounselEndTime}  WHERE EXPERT_USID=#{expertUsid}
</update>

<update id="updateExpertBoardReview" parameterType="map">
	UPDATE EXPERT_BOARD SET EXPERT_BOARD_RATING = #{rating}, EXPERT_BOARD_REVIEW = #{review} WHERE EXPERT_BOARD_ID=#{bno}
</update>

<update id="updateExpertInfoReview" parameterType="map">
	UPDATE EXPERT_INFO SET EXPERT_RATING = (EXPERT_RATING + #{rating}), EXPERT_REVIEW_COUNT = #{count} WHERE EXPERT_USID=#{exusid}
</update>

<select id="selectExpertBoardReviewCount" resultType	="string" parameterType="map">
	select count(*) from expert_board where expert_board_usid = #{exusid} and expert_board_review is not null
</select>

<select id="expertReviewWriteCheck" resultType	="_int" parameterType="string">
	SELECT EXPERT_BOARD_RATING FROM EXPERT_BOARD WHERE EXPERT_BOARD_ID = #{bno}
</select>

<select id="selectExpertBoardList" resultMap = "expertListMap">
	SELECT M.USID,M.MEM_NAME,M.MEM_NICKNAME,M.PROFILE_PIC,E.* FROM MEMBER M JOIN EXPERT_INFO E ON USID = EXPERT_USID WHERE MEM_CLASS LIKE '전문가' ORDER BY EXPERT_RATING DESC
</select>

<select id="selectExpertReviewList" resultMap = "exboardMap">
	SELECT e.expert_counsel_area,B.* FROM EXPERT_BOARD B JOIN EXPERT_INFO E ON EXPERT_BOARD_USID = EXPERT_USID ORDER BY EXPERT_BOARD_DATE DESC
</select>



	<resultMap type="exboard" id="exboardMap">
		<id column="EXPERT_BOARD_ID" property="expertBoardId" />
		<id column="EXPERT_BOARD_USID" property="expertBoardUsid" />
		<id column="EXPERT_BOARD_MEM_USID" property="expertBoardMemUsid" />
		<id column="EXPERT_BOARD_ADVICE_RESULT" property="expertBoardAdviceResult" />
		<id column="EXPERT_BOARD_RATING" property="expertBoardRating" />
		<id column="EXPERT_BOARD_REVIEW" property="expertBoardReview" />
		<id column="EXPERT_BOARD_DATE" property="expertBoardDate" />
		<id column="EXPERT_BOARD_EX_NICK" property="expertBoardExNick" />
		<id column="EXPERT_BOARD_MEMBEREND" property="expertBoardMemberend" />
		<id column="EXPERT_BOARD_EXPERTEND" property="expertBoardExpertend" />
		<id column="EXPERT_BOARD_MEM_NICK" property="expertBoardMemNick" />
		<result property="bexpertCounselArea" column="expert_counsel_area"/>
	</resultMap>
	
	<resultMap type="exrequest" id="exrequestMap">
		<id column="EXPERT_REQUEST_EX_USID" property="expertRequetExUsid" />
		<id column="EXPERT_REQUEST_MEM_USID" property="expertRequestMemUsid" />
		<id column="EXPERT_REQUEST_EX_NICK" property="expertRequetExNick" />
		<id column="EXPERT_REQUEST_MEM_NICK" property="expertRequestMemNick" />
		<id column="EXPERT_ISCOUNSEL" property="expertIscounsel" />
		<id column="EXPERT_DATE" property="expertDate" />
		<id column="EXPERT_COUNSEL_TIME" property="expertCounselTime" />
		<id column="EXPERT_COUNSEL_REQUIRE" property="expertCounselRequire" />
	</resultMap>
	
	<resultMap id="memberMap" type="member">
	    <result property="usid" column="usid"/>
	    <result property="memEmail" column="mem_email"/>
	    <result property="memPwd" column="mem_pwd"/>
	    <result property="memName" column="mem_name"/>
	    <result property="memNickname" column="mem_nickname"/>
	    <result property="gender" column="gender"/>
	    <result property="birthday" column="birthday"/>
	    <result property="enrollDate" column="enroll_date"/>
	    <result property="point" column="point"/>
	    <result property="leaveMem" column="leave_mem"/>
	    <result property="pwIsUuid" column="pw_is_uuid"/>
	    <result property="memClass" column="mem_class"/>
	    <result property="profilePic" column="profile_pic"/>
	    <result property="tel" column="tel"/>
	</resultMap>
	
	<resultMap id="expertMap" type="expert">
	    <result property="expertUsid" column="expert_usid"/>
	    <result property="expertRating" column="expert_rating"/>
	    <result property="expertGreetings" column="expert_greetings"/>
	    <result property="expertProfile" column="expert_profile"/>
	    <result property="expertCounselArea" column="expert_counsel_area"/>
	    <result property="expertCounselStartTime" column="expert_counsel_start_time"/>
	 	<result property="expertCounselEndTime" column="expert_counsel_end_time"/>
	 	<result property="expertReviewCount" column="expert_review_count"/>
	</resultMap>
	
	<resultMap id="licenseMap" type="license">
		 <result property="licenseId" column="license_id"/>
	    <result property="licenseMemUsid" column="license_mem_usid"/>
	    <result property="licenseFileName" column="license_file_name"/>
	    <result property="licenseDate" column="license_date"/>
	    <result property="licenseType" column="license_type"/>
	    <result property="licenseCompany" column="license_company"/>
	</resultMap>
	
	
		<resultMap id="expertListMap" type="exboardListVo">
		 <result property="usid" column="usid"/>
		 <result property="memName" column="mem_name"/>
	    <result property="memNickname" column="mem_nickname"/>
	    <result property="profilePic" column="profile_pic"/>
	    <result property="expertUsid" column="expert_usid"/>
	    <result property="expertRating" column="expert_rating"/>
	    <result property="expertGreetings" column="expert_greetings"/>
	    <result property="expertProfile" column="expert_profile"/>
	    <result property="expertCounselArea" column="expert_counsel_area"/>
	    <result property="expertCounselStartTime" column="expert_counsel_start_time"/>
	 	<result property="expertCounselEndTime" column="expert_counsel_end_time"/>
	 	<result property="expertReviewCount" column="expert_review_count"/>
	</resultMap>


</mapper>
