<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="expert">

<select id="selectExpert" resultType="member">
	SELECT * FROM MEMBER WHERE MEM_CLASS LIKE '전문가' 
</select> 

<select id="selectExpertMem" resultType="member" parameterType="string">
	SELECT * FROM MEMBER WHERE MEM_CLASS LIKE '전문가' AND USID = #{no}
</select>

<select id="selectMember" resultType="member" parameterType="string">
	SELECT * FROM MEMBER WHERE MEM_NICKNAME = #{nick}
</select>

<select id="selectIsDuplicateReq" resultType="exrequest" parameterType="map">
	SELECT * FROM EXPERT_REQUEST WHERE EXPERT_REQUET_EX_USID = #{exusid} AND EXPERT_REQUEST_MEM_USID = #{memusid}
</select>

<insert id="insertExpertMemRequest" parameterType="map">
	INSERT INTO EXPERT_REQUEST VALUES(#{exusid},#{memusid},#{exnick},#{memnick},DEFAULT,DEFAULT)
</insert>

<delete id="deleteExpertMemRequest" parameterType="map">
	DELETE FROM EXPERT_REQUEST WHERE EXPERT_REQUET_EX_USID = #{exusid} AND EXPERT_REQUEST_MEM_USID = #{memusid}
</delete>

<select id="selectExpertRequest" resultType="exrequest" parameterType="member">
	SELECT * FROM EXPERT_REQUEST WHERE EXPERT_REQUET_EX_USID = #{usid}
</select>

<insert id="insertExpertBoard" parameterType="exboard">
		INSERT INTO EXPERT_BOARD VALUES(SEQ_EXPERT_BOARD_NO.NEXTVAL,#{EXPERT_BOARD_USID}, #{EXPERT_BOARD_MEM_USID},NULL,default)
	<selectKey keyProperty="EXPERT_BOARD_ID" resultType="_int" order="AFTER">
		SELECT SEQ_EXPERT_BOARD_NO.CURRVAL FROM DUAL
	</selectKey>
</insert>

<select id="selectExpertBoard" resultType="exboard" parameterType="member">
	SELECT * FROM EXPERT_BOARD WHERE EXPERT_BOARD_USID = #{usid}
</select>

<select id="selectExBoardNum" resultType="_int" parameterType="map">
	SELECT EXPERT_BOARD_ID FROM EXPERT_BOARD WHERE EXPERT_BOARD_USID = #{exusid} AND EXPERT_BOARD_MEM_USID = #{memusid}
</select>

<select id="selectExpertBoardbnum" resultType="exboard" parameterType="string">
	SELECT * FROM EXPERT_BOARD WHERE EXPERT_BOARD_ID = #{bnum}
</select>


</mapper>
