<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="expert">

<select id="selectExpert" resultMap="memberMap">
	SELECT * FROM MEMBER WHERE MEM_CLASS LIKE '전문가' 
</select> 

<select id="selectExpertMem" resultMap="memberMap" parameterType="string">
	SELECT * FROM MEMBER WHERE MEM_CLASS LIKE '전문가' AND USID = #{no}
</select>

<select id="selectMember" resultMap="memberMap" parameterType="string">
	SELECT * FROM MEMBER WHERE MEM_NICKNAME = #{nick}
</select>

<select id="selectIsDuplicateReq" resultMap="exrequestMap" parameterType="map">
	SELECT * FROM EXPERT_REQUEST WHERE EXPERT_REQUET_EX_USID = #{exusid} AND EXPERT_REQUEST_MEM_USID = #{memusid}
</select>

<insert id="insertExpertMemRequest" parameterType="map">
	INSERT INTO EXPERT_REQUEST VALUES(#{exusid},#{memusid},#{exnick},#{memnick},DEFAULT,DEFAULT)
</insert>

<delete id="deleteExpertMemRequest" parameterType="map">
	DELETE FROM EXPERT_REQUEST WHERE EXPERT_REQUET_EX_USID = #{exusid} AND EXPERT_REQUEST_MEM_USID = #{memusid}
</delete>

<select id="selectExpertRequest" resultMap="exrequestMap" parameterType="member">
	SELECT * FROM EXPERT_REQUEST WHERE EXPERT_REQUET_EX_USID = #{usid}
</select>

<insert id="insertExpertBoard" parameterType="exboard">
		INSERT INTO EXPERT_BOARD VALUES(SEQ_EXPERT_BOARD_NO.NEXTVAL,#{expertBoardUsid}, #{expertBoardMemUsid},NULL,default,NULL)
	<selectKey keyProperty="expertBoardId" resultType="_int" order="AFTER">
		SELECT SEQ_EXPERT_BOARD_NO.CURRVAL FROM DUAL
	</selectKey>
</insert>

<select id="selectExpertBoard" resultMap="exboardMap" parameterType="member">
	SELECT * FROM EXPERT_BOARD WHERE EXPERT_BOARD_USID = #{usid}
</select>

<select id="selectExBoardNum" resultType="_int" parameterType="map">
	SELECT EXPERT_BOARD_ID FROM EXPERT_BOARD WHERE EXPERT_BOARD_USID = #{exusid} AND EXPERT_BOARD_MEM_USID = #{memusid}
</select>

<select id="selectExpertBoardbnum" resultMap="exboardMap" parameterType="string">
	SELECT * FROM EXPERT_BOARD WHERE EXPERT_BOARD_ID = #{bnum}
</select>

<update id="updateCounselResult" parameterType="map">
	UPDATE EXPERT_BOARD SET EXPERT_BOARD_ADVICE_RESULT =#{extext} WHERE EXPERT_BOARD_ID=#{bno}
</update>

	<resultMap type="exboard" id="exboardMap">
		<id column="EXPERT_BOARD_ID" property="expertBoardId" />
		<id column="EXPERT_BOARD_USID" property="expertBoardUsid" />
		<id column="EXPERT_BOARD_MEM_USID" property="expertBoardMemUsid" />
		<id column="EXPERT_BOARD_ADVICE_RESULT" property="expertBoardAdviceResult" />
		<id column="EXPERT_BOARD_RATING" property="expertBoardRating" />
	</resultMap>
	
		<resultMap type="exrequest" id="exrequestMap">
		<id column="EXPERT_REQUET_EX_USID" property="expertRequetExUsid" />
		<id column="EXPERT_REQUEST_MEM_USID" property="expertRequestMemUsid" />
		<id column="EXPERT_REQUET_EX_NICK" property="expertRequetExNick" />
		<id column="EXPERT_REQUEST_MEM_NICK" property="expertRequestMemNick" />
		<id column="EXPERT_ISCOUNSEL" property="expertIscounsel" />
		<id column="EXPERT_DATE" property="expertDate" />
	</resultMap>
	
<resultMap id="memberMap" type="member">
    <result property="usid" column="usid"/>
    <result property="memEmail" column="mem_email"/>
    <result property="memPwd" column="mem_pwd"/>
    <result property="memName" column="mem_name"/>
    <result property="memNickname" column="mem_nickname"/>
    <result property="gender" column="gender"/>
    <result property="birthday" column="birthday"/>
    <result property="enrollDate" column="enroll_date"/>
    <result property="point" column="point"/>
    <result property="leaveMem" column="leave_mem"/>
    <result property="pwIsUuid" column="pw_is_uuid"/>
    <result property="memClass" column="mem_class"/>
    <result property="profilePic" column="profile_pic"/>
    <result property="tel" column="tel"/>
</resultMap>


</mapper>
