<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">

<resultMap type="com.kh.john.member.model.vo.Member" id="memberMap">
</resultMap>

<resultMap type="com.kh.john.board.model.vo.Board" id="boardMap">
</resultMap>

<select id="selectMemberList" resultMap="memberMap">
	SELECT * FROM MEMBER
</select>

<select id="selectMemberCount" resultType="_int">select count(*) from member</select>


<select id="selectBoardList" resultMap="boardMap">
	SELECT * FROM BOARD
</select>

<select id="selectBoardCount" resultType="_int">select count(*) from board</select>



</mapper>
