<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">

	<resultMap type="com.kh.john.member.model.vo.Member"
		id="memberMap">
	</resultMap>
	<resultMap type="com.kh.john.board.model.vo.Board"
		id="boardMap">
	</resultMap>
	<resultMap type="com.kh.john.admin.model.vo.Notice"
		id="noticeMap">
	</resultMap>

	<!-- 멤버관련 -->
	<select id="selectMemberList" resultMap="memberMap">
		SELECT * FROM MEMBER
		WHERE MEM_CLASS LIKE ('일반유저') AND LEAVE_MEM LIKE 0
	</select>
	<select id="selectMemberCount" resultType="_int">
		SELECT COUNT(*) FROM
		MEMBER WHERE MEM_CLASS LIKE ('일반유저') AND LEAVE_MEM LIKE 0
	</select>

	<insert id="deleteMember"
		parameterType="com.kh.john.member.model.vo.Member">
		UPDATE MEMBER SET LEAVE_MEM=1
		WHERE USID=#{usid}
	</insert>

	<select id="searchMemberList" parameterType="map"
		resultType="member">
		SELECT * FROM MEMBER WHERE 1=1
		<if test="type !=null and keyword !=null">
			AND ${type} LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%'
		</if>

		<if test="gender !=null">
			AND GENDER = #{gender, jdbcType=VARCHAR}
		</if>


		<if test="mem_class!=null">
			AND MEM_CLASS IN
			<foreach collection="mem_class" item="v" index="i" open="("
				close=")" separator=","> #{v, jdbcType=VARCHAR}
			</foreach>
		</if>

		<if test="leave_mem!=null">
			AND LEAVE_MEM IN
			<foreach collection="leave_mem" item="a" index="i" open="("
				close=")" separator=","> #{a, jdbcType=INTEGER}
			</foreach>
		</if>

	</select>

	<select id="searchMemberListCount" resultType="_int"
		parameterType="map">
		SELECT COUNT(*) FROM MEMBER WHERE ${type} LIKE
		'%'||#{keyword, jdbcType=VARCHAR}||'%' 
	
	</select>

	<!-- 게시판관련 -->
	<select id="selectBoardList" resultMap="boardMap">
		SELECT * FROM BOARD
	</select>
	<select id="selectBoardCount" resultType="_int">
		SELECT COUNT(*) FROM
		BOARD
	</select>
	
	<select id="searchBoardList" parameterType="map"
		resultType="board">
		SELECT * FROM BOARD B, MEMBER M WHERE B.WRITER_USID=M.USID AND 1=1 
		<if test="type !=null and keyword !=null">
			AND ${type} LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%'
		</if>
				
		<if test="isclose!=null " >
			AND B.ISCLOSE IN
			<foreach collection="isclose" item="v" index="i" open="("
				close=")" separator=","> #{v, jdbcType=VARCHAR}
			</foreach>
		</if>
		
		<if test='type2 != null  and (order eq "ascend".toString())'>
			ORDER BY B.${type2} ASC
		</if>
		
		<if test='type2 != null  and(order eq "descend".toString())'>
			ORDER BY B.${type2} DESC
		</if>
		
	</select>

	<select id="searchBoardListCount" resultType="_int"
		parameterType="map">
		SELECT COUNT(*) FROM BOARD B, MEMBER M WHERE B.WRITER_USID=M.USID 
		AND '${type}' LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%'
		
	</select>

	<!-- 전문가관련 -->
	<select id="selectExpertList" resultMap="memberMap">
		SELECT * FROM MEMBER
		WHERE MEM_CLASS LIKE ('전문가') AND LEAVE_MEM LIKE 0
	</select>
	<select id="selectExpertCount" resultType="_int">
		SELECT COUNT(*) FROM
		MEMBER WHERE MEM_CLASS LIKE ('전문가') AND LEAVE_MEM LIKE 0
	</select>

	<select id="selectBeforeExpertList" resultMap="memberMap">
		SELECT * FROM
		MEMBER WHERE MEM_CLASS LIKE('일반유저') AND LEAVE_MEM LIKE 0
	</select>
	<select id="selectBeforeExpertCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER WHERE MEM_CLASS LIKE('일반유저') AND LEAVE_MEM LIKE 0
	</select>

	<select id="updateMemberToExpert" parameterType="map"
		resultMap="memberMap">
		SELECT * FROM MEMBER WHERE USID=#{usid}
	</select>

	<select id="searchExpertList" parameterType="map"
		resultType="member">
		SELECT * FROM MEMBER WHERE 1=1 AND MEM_CLASS LIKE('전문가')
		
		<if test="type !=null and keyword !=null">
			AND ${type} LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%'
		</if>

		<if test="gender !=null">
			AND GENDER = #{gender, jdbcType=VARCHAR}
		</if>

		<if test="mem_class!=null">
			AND MEM_CLASS IN
			<foreach collection="mem_class" item="v" index="i" open="("
				close=")" separator=","> #{v, jdbcType=VARCHAR}
			</foreach>
		</if>

		<if test="leave_mem!=null">
			AND LEAVE_MEM IN
			<foreach collection="leave_mem" item="a" index="i" open="("
				close=")" separator=","> #{a, jdbcType=INTEGER}
			</foreach>
		</if>
		
		<if test='type2 != null  and (order eq "ascend".toString())'>
			ORDER BY ${type2} ASC
		</if>
		
		<if test='type2 != null  and(order eq "descend".toString())'>
			ORDER BY ${type2} DESC
		</if>
		
		

	</select>

	<select id="searchExpertListCount" resultType="_int"
		parameterType="map">
		SELECT COUNT(*) FROM MEMBER WHERE  ${type2} LIKE '%'||#{keyword, jdbcType=VARCHAR}||'%'
		AND MEM_CLASS LIKE('전문가')
	</select>
	
	<!-- 공지관련 -->
	<select id="selectNoticeList" resultMap="noticeMap"> 
		SELECT * FROM NOTICE 
	</select> 
	
	<select id="selectNoticeCount" resultType="_int"> 
		SELECT COUNT(*) FROM NOTICE 
	</select>
	
	<select id="insertNotice" parameterType="notice">
		INSERT INTO NOTICE VALUES(SEQ_NOTICE_NO.NEXTVAL,25,'관리인',#{notice_title},#{notice_content},SYSDATE) 
		<!-- 수정해야됨 -->
	</select>
	
	<insert id="insertNoticeFile" parameterType="noticeFile">
		INSERT INTO NOTICE_FILE VALUES(SEQ_NOTICE_NO.NEXTVAL,#{notice_file_name})
		<!-- 수정해야됨 -->
		<selectKey keyProperty="notice_id" resultType="_int" order="BEFORE"> SELECT SEQ.NOTICE_ID.CURRVAL FROM DUAL </selectKey>
	</insert>
	
	<select id="selectOneNotice" parameterType="_int" resultType="notice">
		SELECT * FROM NOTICE WHERE NOTICE_ID=#{notice_id}
	</select>
	
	<select id="selectNoticeFile" parameterType="_int" resultType="noticeFIle">
		SELECT * FROM NOTICE_FILE WHERE NOTICE_ID=#{notice_id}
	</select>
 
</mapper>
