<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">

<select id="selectMember" resultType="map">
	SELECT * FROM MEMBER
</select> 

<select id="selectMemberById" resultMap="memberMap" parameterType="member">
	SELECT * FROM MEMBER WHERE MEM_EMAIL=#{memEmail}
</select>

<select id="selectMemberByNick" resultMap="memberMap" parameterType="member">
	SELECT * FROM MEMBER WHERE MEM_NICKNAME=#{memNickname}
</select>

<select id="selectMemberByUsid" resultMap="memberMap" parameterType="member">
	SELECT * FROM MEMBER WHERE USID=#{usid}
</select>

<select id="selectMemberByPhone" resultMap="memberMap" parameterType="member">
	SELECT * FROM MEMBER WHERE TEL=#{tel}
</select>

<insert id="signUpEnd" parameterType="member">
	INSERT INTO MEMBER VALUES(SEQ_MEMBER_NO.NEXTVAL, #{memEmail}, #{memPwd}, #{memName}, #{memNickname}, #{gender}, 
		#{birthday,jdbcType=DATE}, DEFAULT, DEFAULT, DEFAULT, DEFAULT, #{memClass}, DEFAULT, #{tel}, DEFAULT)
</insert>

<insert id="signUpExpert" parameterType="license">
	INSERT INTO LICENSE VALUES(SEQ_LICENSE_NO.NEXTVAL,#{licenseMemUsid}, #{licenseFileName}, #{licenseDate}, #{licenseType}, #{licenseCompany})
	<selectKey keyProperty="licenseMemUsid" resultType="_int" order="BEFORE">
		SELECT SEQ_MEMBER_NO.CURRVAL FROM DUAL
	</selectKey>
</insert>

<select id="findId" parameterType="member" resultMap="memberMap">
	SELECT * FROM MEMBER WHERE MEM_NAME=#{memName} AND TEL=#{tel}
</select>

<select id="findPw" parameterType="member" resultMap="memberMap">
	SELECT * FROM MEMBER WHERE MEM_EMAIL=#{memEmail} AND MEM_NAME=#{memName} AND TEL=#{tel}
</select>

<update id="tempPw">
	UPDATE MEMBER SET MEM_PWD=#{memPwd}, PW_IS_UUID=#{pwIsUuid} WHERE USID=#{usid}
</update>

<update id="updatePw" parameterType="member">
	UPDATE MEMBER SET MEM_PWD=#{memPwd}, PW_IS_UUID=#{pwIsUuid} WHERE USID=#{usid}
</update>

<update id="updateNick" parameterType="member">
	UPDATE MEMBER SET MEM_NICKNAME=#{memNickname} WHERE USID=#{usid}
</update>

<update id="updatePic" parameterType="member">
	UPDATE MEMBER SET PROFILE_PIC=#{profilePic} WHERE USID=#{usid}
</update>

<update id="updatePhone" parameterType="member">
	UPDATE MEMBER SET TEL=#{tel} WHERE USID=#{usid}
</update>

<select id="selectMyBoard" parameterType="map" resultMap="boardMap">
	SELECT * FROM BOARD WHERE WRITER_USID=#{usid} ORDER BY ENROLL_DATE DESC
</select>

<select id="myBoardCount" parameterType="_int" resultType="_int">
	SELECT COUNT(*) FROM BOARD WHERE WRITER_USID=#{usid}
</select>

<select id="searchBoard" parameterType="board" resultMap="boardMap">
	SELECT * FROM BOARD WHERE BOARD_ID=#{boardId} AND WRITER_USID=#{writerUsid}
</select>

<select id="liked" parameterType="map" resultMap="boardMap">
	SELECT * FROM BOARD B WHERE B.BOARD_ID IN (SELECT L.LIKE_BOARD_ID FROM LIKE_DISLIKE L WHERE L.LIKE_USID=#{usid})
</select>

<select id="likedCount" parameterType="_int" resultType="_int">
	SELECT COUNT(*) FROM LIKE_DISLIKE WHERE LIKE_USID=#{usid}
</select>

<select id="myReport" parameterType="map" resultMap="reportMap">
	SELECT * FROM REPORT WHERE REPORT_WRITER_USID=#{usid} ORDER BY REPORT_DATE DESC
</select>

<select id="myReportCount" parameterType="_int" resultType="_int">
	SELECT COUNT(*) FROM REPORT WHERE REPORT_WRITER_USID=#{usid}
</select>

<select id="searchReport" parameterType="report" resultMap="reportMap">
	SELECT * FROM REPORT WHERE REPORT_ID=#{reportId} AND REPORT_WRITER_USID=#{reportWriterUsid}
</select>

<update id="updateMemberClass" parameterType="member">
	UPDATE MEMBER SET MEM_CLASS=#{memClass} WHERE USID=#{usid}
</update>

<insert id="applyExpert" parameterType="license">
	INSERT INTO LICENSE VALUES(SEQ_LICENSE_NO.NEXTVAL,#{licenseMemUsid}, #{licenseFileName}, #{licenseDate}, #{licenseType}, #{licenseCompany})
</insert>

<select id="expertBoardList" parameterType="map" resultMap="expertBoardMap">
	SELECT * FROM EXPERT_BOARD WHERE EXPERT_BOARD_MEM_USID=#{usid} ORDER BY EXPERT_BOARD_DATE DESC
</select>

<select id="expertBoardCount" parameterType="_int" resultType="_int">
	SELECT COUNT(*) FROM EXPERT_BOARD WHERE EXPERT_BOARD_MEM_USID=#{usid}
</select>

<insert id="insertMemberChat" parameterType="memberChat">
	INSERT INTO MEMBER_CHAT VALUES(#{mchatFirstUsid},#{mchatSecondUsid},#{mchatContent},SYSDATE,#{mchatFile})
</insert>

<select id="firstUsid" parameterType="_int" resultType="integer">
	SELECT MCHAT_FIRST_USID FROM MEMBER_CHAT WHERE MCHAT_SECOND_USID=#{usid} GROUP BY MCHAT_FIRST_USID
</select>

<select id="secondUsid" parameterType="_int" resultType="integer">
	SELECT MCHAT_SECOND_USID FROM MEMBER_CHAT WHERE MCHAT_FIRST_USID=#{usid} GROUP BY MCHAT_SECOND_USID
</select>

<select id="firstUsidList" parameterType="_int" resultType="integer">
	SELECT MCHAT_FIRST_USID FROM MEMBER_CHAT WHERE MCHAT_FIRST_USID!=#{myUsid} AND MCHAT_SECOND_USID=#{myUsid} GROUP BY MCHAT_FIRST_USID
</select>

<select id="secondUsidList" parameterType="_int" resultType="integer">
	SELECT MCHAT_SECOND_USID FROM MEMBER_CHAT WHERE MCHAT_FIRST_USID=#{myUsid} AND MCHAT_SECOND_USID!=#{myUsid} GROUP BY MCHAT_SECOND_USID
</select>

<select id="loadLatestMessage" parameterType="map" resultMap="mMMap">
	SELECT ROWNUM, X.* FROM 
		(SELECT Y.*,TO_CHAR(Y.MCHAT_DATE,'YYYY-mm-DD HH24:mi') FROM MEMBER_CHAT Y WHERE (MCHAT_FIRST_USID=#{myUsid} AND MCHAT_SECOND_USID=#{otherUsid}) 
		OR (MCHAT_FIRST_USID=#{otherUsid} AND MCHAT_SECOND_USID=#{myUsid}) ORDER BY Y.MCHAT_DATE DESC) X WHERE ROWNUM=1
</select>

<select id="memberListByNick" parameterType="string" resultMap="memberMap">
	SELECT * FROM MEMBER WHERE MEM_NICKNAME LIKE '%' || #{nick} || '%'
</select>

<select id="loadAllChatList" resultMap="mCMap">
	SELECT M.*,TO_CHAR(M.MCHAT_DATE,'YYYY-mm-DD HH24:Mi'),F.MEM_NICKNAME AS FIRSTNICK,F.PROFILE_PIC AS FIRSTPIC,S.MEM_NICKNAME AS SECONDNICK,S.PROFILE_PIC AS SECONDPIC FROM MEMBER_CHAT M 
	LEFT JOIN MEMBER F ON M.MCHAT_FIRST_USID=F.USID
	LEFT JOIN MEMBER S ON M.MCHAT_SECOND_USID=S.USID
	ORDER BY M.MCHAT_DATE ASC
</select>

<select id="expertCounselingHistory" parameterType="_int" resultMap="expertBoardMap">
	SELECT * FROM EXPERT_BOARD WHERE EXPERT_BOARD_USID=#{usid}
</select>

<select id="expertCounselingHistoryCount" parameterType="_int" resultType="_int">
	SELECT COUNT(*) FROM EXPERT_BOARD WHERE EXPERT_BOARD_USID=#{usid}
</select>

<select id="counselingRequest" parameterType="_int" resultMap="exrequestMap">
	SELECT * FROM EXPERT_REQUEST WHERE EXPERT_REQUEST_MEM_USID=#{usid} ORDER BY EXPERT_DATE DESC
</select>

<select id="requestListCount" parameterType="_int" resultType="_int">
	SELECT COUNT(*) FROM EXPERT_REQUEST WHERE EXPERT_REQUEST_MEM_USID=#{usid}
</select>

<update id="goodBye" parameterType="_int">
	UPDATE MEMBER SET LEAVE_MEM=1 WHERE USID=#{usid}
</update>

<update id="chargePoint" parameterType="member">
	UPDATE MEMBER SET POINT=#{point} WHERE USID=#{usid}
</update>

<insert id="signUpNaverEnd" parameterType="member">
	INSERT INTO MEMBER VALUES(SEQ_MEMBER_NO.NEXTVAL, #{memEmail}, #{memPwd}, #{memName}, #{memNickname}, #{gender}, 
		#{birthday,jdbcType=DATE}, DEFAULT, DEFAULT, DEFAULT, DEFAULT, #{memClass}, DEFAULT, #{tel}, 1)
</insert>

<resultMap type="exrequest" id="exrequestMap">
	<id column="EXPERT_REQUET_EX_USID" property="expertRequetExUsid" />
	<id column="EXPERT_REQUEST_MEM_USID" property="expertRequestMemUsid" />
	<id column="EXPERT_REQUEST_EX_NICK" property="expertRequetExNick" />
	<id column="EXPERT_REQUEST_MEM_NICK" property="expertRequestMemNick" />
	<id column="EXPERT_ISCOUNSEL" property="expertIscounsel" />
	<id column="EXPERT_DATE" property="expertDate" />
	<id column="EXPERT_COUNSEL_TIME" property="expertCounselTime" />
	<id column="EXPERT_COUNSEL_REQUIRE" property="expertCounselRequire" />
</resultMap>
<resultMap type="memberChat" id="mCMap">
	<result property="mchatFirstUsid" column="mchat_first_usid"/>
	<result property="mchatSecondUsid" column="mchat_second_usid"/>
	<result property="mchatContent" column="mchat_content"/>
	<result property="mchatDate" column="mchat_date"/>
	<result property="mchatDateString" column="TO_CHAR(M.MCHAT_DATE,'YYYY-MM-DDHH24:MI')"/>
	<result property="mchatFile" column="mchat_file"/>
	<result property="firstNick" column="FIRSTNICK"/>
	<result property="firstProfilePic" column="FIRSTPIC"/>
	<result property="secondNick" column="SECONDNICK"/>
	<result property="secondProfilePic" column="SECONDPIC"/>
</resultMap>
<resultMap type="memberMessage" id="mMMap">
	<result property="latestMessage" column="MCHAT_CONTENT"/>
	<result property="latestDate" column="MCHAT_DATE"/>
	<result property="latestDateStr" column="TO_CHAR(Y.MCHAT_DATE,'YYYY-MM-DDHH24:MI')"/>
</resultMap>
<resultMap type="exboard" id="expertBoardMap">
	<id column="EXPERT_BOARD_ID" property="expertBoardId" />
	<id column="EXPERT_BOARD_USID" property="expertBoardUsid" />
	<id column="EXPERT_BOARD_MEM_USID" property="expertBoardMemUsid" />
	<id column="EXPERT_BOARD_ADVICE_RESULT" property="expertBoardAdviceResult" />
	<id column="EXPERT_BOARD_RATING" property="expertBoardRating" />
	<id column="EXPERT_BOARD_REVIEW" property="expertBoardReview" />
	<id column="EXPERT_BOARD_DATE" property="expertBoardDate" />
	<id column="EXPERT_BOARD_EX_NICK" property="expertBoardExNick" />
	<id column="EXPERT_BOARD_MEMBEREND" property="expertBoardMemberend" />
	<id column="EXPERT_BOARD_EXPERTEND" property="expertBoardExpertend" />
</resultMap>
<resultMap type="com.kh.john.report.model.vo.Report" id="reportMap">
	<result property="reportId" column="report_id"/>
	<result property="reportBoardId" column="report_board_id"/>
	<result property="reportWriterUsid" column="report_writer_usid"/>
	<result property="reportTargetUsid" column="report_target_usid"/>
	<result property="reportType" column="report_type"/>
	<result property="reportTitle" column="report_title"/>
	<result property="reportContent" column="report_content"/>
	<result property="reportDate" column="report_date"/>
	<result property="reportIscheck" column="report_ischeck"/>
	<result property="reportUserNickname" column="report_user_nickname"/>
	<result property="reportTargetNickname" column="report_target_nickname"/>
	<result property="reportAnswer" column="report_answer"/>
	<result property="reportIswarning" column="report_iswarning"/>
</resultMap>
<resultMap type="likeDislike" id="likeDislikeMap">
	<result property="likeUsid" column="like_usid"/>
	<result property="likeBoardId" column="like_board_id"/>
	<result property="likeIsdislike" column="like_isdislike"/>
</resultMap>
<resultMap id="memberMap" type="member">
	<result property="usid" column="usid"/>
	<result property="memEmail" column="mem_email"/>
	<result property="memPwd" column="mem_pwd"/>
	<result property="memName" column="mem_name"/>
	<result property="memNickname" column="mem_nickname"/>
	<result property="gender" column="gender"/>
	<result property="birthday" column="birthday"/>
	<result property="enrollDate" column="enroll_date"/>
	<result property="point" column="point"/>
	<result property="leaveMem" column="leave_mem"/>
	<result property="pwIsUuid" column="pw_is_uuid"/>
	<result property="memClass" column="mem_class"/>
	<result property="profilePic" column="profile_pic"/>
	<result property="tel" column="tel"/>
	<result property="socialLogin" column="social_login"/>
</resultMap>
<resultMap type="com.kh.john.board.model.vo.Board" id="boardMap">
	<result property="boardId" column="board_id"/>
	<result property="writerUsid" column="writer_usid"/>
	<result property="writerNickname" column="writer_nickname"/>
	<result property="title" column="title"/>
	<result property="content" column="content"/>
	<result property="enrollDate" column="enroll_date"/>
	<result property="hit" column="hit"/>
	<result property="bigCategory" column="big_category"/>
	<result property="smallCategory" column="small_category"/>
	<result property="isclose" column="isclose"/>
	<result property="maxMems" column="max_mems"/>
	<result property="agreeName" column="agree_name"/>
	<result property="disagreeName" column="disagree_name"/>
</resultMap>
</mapper>