<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">

<select id="selectMember" resultType="map">
	SELECT * FROM MEMBER
</select> 

<select id="selectMemberById" resultMap="memberMap" parameterType="member">
	SELECT * FROM MEMBER WHERE MEM_EMAIL=#{memEmail}
</select>

<select id="selectMemberByNick" resultMap="memberMap" parameterType="member">
	SELECT * FROM MEMBER WHERE MEM_NICKNAME=#{memNickname}
</select>

<select id="selectMemberByPhone" resultMap="memberMap" parameterType="member">
	SELECT * FROM MEMBER WHERE TEL=#{tel}
</select>

<insert id="signUpEnd" parameterType="member">
	INSERT INTO MEMBER VALUES(SEQ_MEMBER_NO.NEXTVAL, #{memEmail}, #{memPwd}, #{memName}, #{memNickname}, #{gender}, 
		#{birthday,jdbcType=DATE}, DEFAULT, DEFAULT, DEFAULT, DEFAULT, #{memClass}, DEFAULT, #{tel})
</insert>

<insert id="signUpExpert" parameterType="license">
	INSERT INTO LICENSE VALUES(#{licenseMemUsid}, #{licenseFileName}, #{licenseDate}, #{licenseType}, #{licenseCompany})
	<selectKey keyProperty="licenseMemUsid" resultType="_int" order="BEFORE">
		SELECT SEQ_MEMBER_NO.CURRVAL FROM DUAL
	</selectKey>
</insert>

<select id="findId" parameterType="member" resultMap="memberMap">
	SELECT * FROM MEMBER WHERE MEM_NAME=#{memName} AND TEL=#{tel}
</select>

<select id="findPw" parameterType="member" resultMap="memberMap">
	SELECT * FROM MEMBER WHERE MEM_EMAIL=#{memEmail} AND MEM_NAME=#{memName} AND TEL=#{tel}
</select>

<update id="tempPw">
	UPDATE MEMBER SET MEM_PWD=#{memPwd}, PW_IS_UUID=#{pwIsUuid} WHERE USID=#{usid}
</update>

<update id="updatePw" parameterType="member">
	UPDATE MEMBER SET MEM_PWD=#{memPwd}, PW_IS_UUID=#{pwIsUuid} WHERE USID=#{usid}
</update>

<update id="updateNick" parameterType="member">
	UPDATE MEMBER SET MEM_NICKNAME=#{memNickname} WHERE USID=#{usid}
</update>

<update id="updatePic" parameterType="member">
	UPDATE MEMBER SET PROFILE_PIC=#{profilePic} WHERE USID=#{usid}
</update>

<update id="updatePhone" parameterType="member">
	UPDATE MEMBER SET TEL=#{tel} WHERE USID=#{usid}
</update>

<select id="selectMyBoard" parameterType="map" resultMap="boardMap">
	SELECT * FROM BOARD WHERE WRITER_USID=#{usid}
</select>

<select id="myBoardCount" parameterType="_int" resultType="_int">
	SELECT COUNT(*) FROM BOARD WHERE WRITER_USID=#{usid}
</select>

<select id="searchBoard" parameterType="board" resultMap="boardMap">
	SELECT * FROM BOARAD WHERE BOARD_ID=#{boardId} AND WRITER_USID=#{writerUsid}
</select>



<resultMap id="memberMap" type="member">
	<result property="usid" column="usid"/>
	<result property="memEmail" column="mem_email"/>
	<result property="memPwd" column="mem_pwd"/>
	<result property="memName" column="mem_name"/>
	<result property="memNickname" column="mem_nickname"/>
	<result property="gender" column="gender"/>
	<result property="birthday" column="birthday"/>
	<result property="enrollDate" column="enroll_date"/>
	<result property="point" column="point"/>
	<result property="leaveMem" column="leave_mem"/>
	<result property="pwIsUuid" column="pw_is_uuid"/>
	<result property="memClass" column="mem_class"/>
	<result property="profilePic" column="profile_pic"/>
	<result property="tel" column="tel"/>
</resultMap>
<resultMap type="com.kh.john.board.model.vo.Board" id="boardMap">
	<result property="boardId" column="board_id"/>
	<result property="writerUsid" column="writer_usid"/>
	<result property="writerNickname" column="writer_nickname"/>
	<result property="title" column="title"/>
	<result property="content" column="content"/>
	<result property="enrollDate" column="enroll_date"/>
	<result property="hit" column="hit"/>
	<result property="bigCategory" column="big_category"/>
	<result property="smallCategory" column="small_category"/>
	<result property="isclose" column="isclose"/>
	<result property="maxMems" column="max_mems"/>
	<result property="agreeName" column="agree_name"/>
	<result property="disagreeName" column="disagree_name"/>
</resultMap>
</mapper>