<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board"><!-- 네임 스페이스 확인 후 변경바람 -->

	<select id="boardList" resultType="board">
		SELECT * FROM BOARD
	</select>
	
	<insert id="boardInsert" parameterType="board">
		INSERT INTO BOARD VALUES(
		SEQ_BOARD_NO.NEXTVAL, 9, '홍잭슨', #{title}, #{content}, SYSDATE, default, #{big_category}, #{small_category}, 0, default, #{agree_name}, #{disagree_name}
		)
	</insert>
	
	<insert id="boardInsertFile" parameterType="boardFile">
		INSERT INTO BOARD_FILE VALUES(#{board_file_no}, #{board_file_name})
		<selectKey keyProperty="board_file_no" resultType="_int" order="BEFORE">
			SELECT SEQ_BOARD_NO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<select id="boardSelectOne" parameterType="_int" resultType="board">
		SELECT * FROM BOARD WHERE BOARD_ID = #{boardNO}
	</select>
	
	<select id="commentSelectList" parameterType="_int" resultType="comment">
		SELECT * FROM "COMMENT" WHERE COM_BOARD_ID = #{currBoardNo}
	</select>
	
	<insert id="boardCommentInsert" parameterType="map">
		INSERT INTO "COMMENT" VALUES(SEQ_COMMENT_NO.NEXTVAL, #{currBoardNo}, 9, '홍잭슨', #{content}, default, SYSDATE)
	</insert>
</mapper>
