<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alarm">

<select id="selectAlarmCount" parameterType="_int" resultType="string"> 
	SELECT COUNT(*) FROM ALARM WHERE ALARM_RECEIVE_MEM_USID = #{usid} AND ALARM_ISCHECKED = 0
</select> 

	<select id="selectAlarmList" parameterType="_int"  resultMap="alMap"> 
		SELECT * FROM ALARM WHERE ALARM_RECEIVE_MEM_USID = #{usid}
	</select>
	
	<insert id="insetExpertAlarm" parameterType="alarm">
		INSERT INTO ALARM VALUES(SEQ_ALARM_NO.NEXTVAL,#{alarmSendMemUsid},#{alarmReceiveMemUsid},#{alarmType},#{alarmMsgContent},#{alarmSendMemNickname},SYSDATE,0)
	</insert>

<!-- 	<update id="updateAlarmRead" parameterType="_int">
		UPDATE ALARM SET ALARM_ISCHECKED = 1 WHERE ALARM_ID = #{aid}
	</update>
	
		<select id="selectAlarmItem" parameterType="map"  resultMap="alMap"> 
		SELECT * FROM ALARM WHERE ALARM_TYPE = #{item} AND ALARM_RECEIVE_MEM_USID = #{usid} AND ALARM_ISCHECKED = 0
	</select> -->
	
		<resultMap type="alarm" id="alMap">
		<id column="ALARM_ID" property="alarmId" />
		<id column="ALARM_SEND_MEM_USID" property="alarmSendMemUsid" />
		<id column="ALARM_RECEIVE_MEM_USID" property="alarmReceiveMemUsid" />
		<id column="ALARM_TYPE" property="alarmType" />
		<id column="ALARM_MSG_CONTENT" property="alarmMsgContent" />
		<id column="ALARM_SEND_MEM_NICKNAME" property="alarmSendMemNickname" />
		<id column="ALARM_DATE" property="alarmDate" />
		<id column="ALARM_ISCHECKED" property="alarmIscheked" />
	</resultMap>
	

</mapper>
