<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="report">

	<resultMap type="com.kh.john.report.model.vo.Report" id="reportMap">
		<result property="reportId" column="report_id"/>
		<result property="reportBoardId" column="report_board_id"/>
		<result property="reportWriterUsid" column="report_writer_usid"/>
		<result property="reportTargetUsid" column="report_target_usid"/>
		<result property="reportType" column="report_type"/>
		<result property="reportTitle" column="report_title"/>
		<result property="reportContent" column="report_content"/>
		<result property="reportDate" column="report_date"/>
		<result property="reportIscheck" column="report_ischeck"/>
		<result property="reportUserNickname" column="report_user_nickname"/>
		<result property="reportTargetNickname" column="report_target_nickname"/>
		<result property="reportAnswer" column="report_answer"/>
		<result property="reportIswarning" column="report_iswarning"/>
	</resultMap>
	<resultMap type="com.kh.john.member.model.vo.Member" id="memberMap">
		<result property="usid" column="usid"/>
	    <result property="memEmail" column="mem_email"/>
	    <result property="memPwd" column="mem_pwd"/>
	    <result property="memName" column="mem_name"/>
	    <result property="memNickname" column="mem_nickname"/>
	    <result property="gender" column="gender"/>
	    <result property="birthday" column="birthday"/>
	    <result property="enrollDate" column="enroll_date"/>
	    <result property="point" column="point"/>
	    <result property="leaveMem" column="leave_mem"/>
	    <result property="pwIsUuid" column="pw_is_uuid"/>
	    <result property="memClass" column="mem_class"/>
	    <result property="profilePic" column="profile_pic"/>
	    <result property="tel" column="tel"/>
	</resultMap>
	<resultMap type="com.kh.john.report.model.vo.ReportFile" id="reportFileMap">
		<result property="reportId" column="report_id"/>
		<result property="reportFileName" column="report_file_name"/>
	</resultMap>
		<resultMap type="board" id="boardMap">
		<result property="boardId" column="board_id"/>
		<result property="writerUsid" column="writer_usid"/>
		<result property="writerNickname" column="writer_nickname"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="enrollDate" column="enroll_date"/>
		<result property="hit" column="hit"/>
		<result property="bigCategory" column="big_category"/>
		<result property="smallCategory" column="small_category"/>
		<result property="isclose" column="isclose"/>
		<result property="maxMems" column="max_mems"/>
		<result property="agreeName" column="agree_name"/>
		<result property="disagreeName" column="disagree_name"/>
	</resultMap>
	<!-- customer -->
	<insert id="insertReport" parameterType="report" >
		INSERT INTO REPORT VALUES(SEQ_REPORT_NO.NEXTVAL,#{reportBoardId},#{reportWriterUsid},#{reportTargetUsid},
		#{reportType},#{reportTitle},#{reportContent},default,0,#{reportUserNickname},#{reportTargetNickname},
		null,0)
	</insert>
	
	<insert id="insertReportFile" parameterType="reportFile">
		INSERT INTO REPORT_FILE VALUES(#{reportId},#{reportFileName})
		<selectKey keyProperty="reportId" resultType="_int" order="BEFORE">SELECT SEQ_REPORT_NO.CURRVAL FROM DUAL</selectKey>
		
	</insert>
	
	<select id="selectBoard" resultMap="boardMap">
		SELECT * FROM BOARD WHERE BOARD_ID=#{boardId}
	</select>
	
	<!-- admin -->
	<select id="selectReportList" resultMap="reportMap">
		SELECT * FROM REPORT WHERE REPORT_ISCHECK=0
	</select>
	
	<select id="selectReportCount" resultType="_int">
		SELECT COUNT(*) FROM REPORT WHERE REPORT_ISCHECK=0
	</select>
	
	<select id="selectReportListAfter" resultMap="reportMap">
		SELECT * FROM REPORT WHERE REPORT_ISCHECK=1
	</select>
	
	<select id="selectReportCountAfter" resultType="_int">
		SELECT COUNT(*) FROM REPORT WHERE REPORT_ISCHECK=1
	</select>
	
	<select id="selectOneReport" parameterType="_int" resultType="report" resultMap="reportMap">
		SELECT * FROM REPORT WHERE REPORT_ID=#{reportId}
	</select>
	
	<select id="selectReportFile" parameterType="_int" resultType="reportFile" resultMap="reportFileMap">
		SELECT * FROM REPORT_FILE WHERE REPORT_ID=#{reportId}
	</select>
	
	<delete id="deleteReport" parameterType="report">
		DELETE FROM REPORT WHERE REPORT_ID=#{reportId}
	</delete>
	
	<insert id="reportWarn" parameterType="report">
		UPDATE REPORT R
		SET REPORT_ISWARNING=(REPORT_ISWARNING+1) WHERE EXISTS (
		SELECT USID
		FROM MEMBER M
		WHERE R.REPORT_TARGET_USID = M.USID AND R.REPORT_TARGET_USID=#{reportTargetUsid})
		
	</insert>
	
	<update id="reportWarnOut" parameterType="member">
		<!-- DELETE FROM MEMBER M WHERE
		M.USID = (SELECT R.REPORT_TARGET_USID FROM REPORT R WHERE REPORT_ISWARNING = '3') -->
		UPDATE MEMBER M SET LEAVE_MEM=1 WHERE EXISTS 
		(SELECT REPORT_ TRATGET_USID FROM REPORT R WHERE M.USID=R.REPORT_TARGET_USID
		AND REPORT_ISWARNING='3')
	</update>
	
	<update id="insertReportAnswer" parameterType="report">
		UPDATE REPORT SET REPORT_ANSWER=#{reportAnswer} WHERE REPORT_ID=#{reportId}
	</update>
	
</mapper>
